/* button */
.activity-button, .activity-button-secondary {
	display: flex;
	padding:0.3em 1.2em;
	margin:0 0.1em 0.1em 0;
	border:0.16em solid rgba(255,255,255,0);
	border-radius:2em;
	text-decoration:none;
	font-weight:300;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	text-align:center;
	transition: all 0.2s;
	font-size: 1em;
}

.activity-button {
	color:#fff;
	background-color: var(--theme-color);
}
.activity-button-secondary {
	color: var(--theme-color);
	background-color: #fff;
}

.activity-button:active, .activity-button-secondary:active{
	filter: brightness(85%);
}
.activity-button:hover{
	border-color: #fff;
}
.activity-button-secondary:hover{
	border-color: var(--theme-color);
}

.button-container {
	display: flex;
	margin-top: 1em;
	justify-content: space-evenly;
	width: 80%;
}