/* checkbox container */
.type-container {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
@media (min-width:880px) {
	.type-item {
		flex-basis: 33%;
	}
}
@media (max-width:880px) {
	.type-item {
		flex-basis: 50%;
	}
}

/* checkbox */
.activity-type-label {
	text-transform: capitalize;
	line-height: 1.1;
	display: flex;
	gap: 0.5em;
	margin-top: 1em;
	padding-left: 4em;
}
input[type="checkbox"] {
	appearance: none;
	background-color: #fff;
	margin: 0;
	font: inherit;
	color: #ff6e2f;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid #ff6e2f;
	border-radius: 0.15em;
	transform: translateY(-0.075em);
	display: flex;
}
input[type="checkbox"]::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	margin: auto;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em #ff6e2f;
	background-color: #ff6e2f;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked::before {
	transform: scale(1);
}
