/* titles */
.main-title {
	font-size: 1.8em;
	font-weight: bold;
	text-align: center;
	text-decoration: underline var(--theme-color) 3px;
	margin: 0;
}
.activity-title {
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}
  