:root{
	--theme-color:#FF6E2F;
}

/* main content */
.main-content {
	background-color: #252019;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #fff;
}

/* header + footer */
.header-content, .footer-content{
	display: flex;
	background-color: var(--theme-color);
	align-items: center;
	width: 90%;
	padding: 0 5% 0 5%;
}
.header-content {
	justify-content: space-between;
}
.footer-content {
	justify-content: center;
}
.header-main, .footer-main {
	display: flex;
	color: #fff;
	height: 10vh;
}
.footer-title {
	font-size: 1.5em;
	margin: auto;
}
.header-title {
	display: flex;
	font-weight: bold;
	font-size: 2em;
	align-items: center;
	padding-left: 5%;
}
